openapi: 3.2.0
info:
  title: National Park Service (NPS) Data Articles API
  description: The National Park Service Data API provides programmatic access to information about U.S. national parks - park overviews, alerts, events, visitor centers, campgrounds, things to do, news releases, articles, people, places, and more. The API is REST-based and returns JSON.
  version: '1'
  contact:
    name: NPS Developer Resources
    url: https://www.nps.gov/subjects/developer/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://developer.nps.gov/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Articles
  description: News articles and releases
paths:
  /articles:
    get:
      tags:
      - Articles
      summary: List articles
      operationId: listArticles
      parameters:
      - $ref: '#/components/parameters/parkCode'
      - $ref: '#/components/parameters/q'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Articles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
components:
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 50
    parkCode:
      name: parkCode
      in: query
      schema:
        type: string
      description: Comma-separated four-letter park codes (e.g. yose,grca)
    q:
      name: q
      in: query
      schema:
        type: string
      description: Free-text search
  schemas:
    GenericResponse:
      type: object
      properties:
        total:
          type: string
        limit:
          type: string
        start:
          type: string
        data:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
externalDocs:
  description: NPS API documentation
  url: https://www.nps.gov/subjects/developer/api-documentation.htm
