openapi: 3.2.0
info:
  title: USGS Water Services Sites API
  description: The U.S. Geological Survey Water Services API provides real-time and historical surface-water, groundwater, and water-quality data for sites across the United States. Endpoints follow the WaterML / IV (instantaneous values), DV (daily values), and Site Service patterns.
  version: '1'
  contact:
    name: USGS Water Mission Area
    url: https://water.usgs.gov/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://waterservices.usgs.gov/nwis
  description: National Water Information System
tags:
- name: Sites
  description: Water-monitoring sites
paths:
  /site/:
    get:
      tags:
      - Sites
      summary: Look up monitoring sites
      operationId: getSites
      parameters:
      - $ref: '#/components/parameters/format'
      - name: stateCd
        in: query
        schema:
          type: string
          pattern: ^[a-z]{2}$
      - name: huc
        in: query
        schema:
          type: string
      - name: bBox
        in: query
        schema:
          type: string
      - name: countyCd
        in: query
        schema:
          type: string
      - name: siteType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Site response
components:
  parameters:
    format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - rdb
        - waterml
        - xml
        default: json
externalDocs:
  description: USGS Water Services
  url: https://waterservices.usgs.gov/
