openapi: 3.2.0
info:
  title: National Park Service (NPS) Data Parks API
  description: The National Park Service Data API provides programmatic access to information about U.S. national parks - park overviews, alerts, events, visitor centers, campgrounds, things to do, news releases, articles, people, places, and more. The API is REST-based and returns JSON.
  version: '1'
  contact:
    name: NPS Developer Resources
    url: https://www.nps.gov/subjects/developer/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://developer.nps.gov/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Parks
  description: National parks
paths:
  /parks:
    get:
      tags:
      - Parks
      summary: List or search national parks
      operationId: listParks
      parameters:
      - $ref: '#/components/parameters/parkCode'
      - $ref: '#/components/parameters/stateCode'
      - $ref: '#/components/parameters/q'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/start'
      responses:
        '200':
          description: Parks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParkResponse'
components:
  parameters:
    limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 50
        maximum: 50
    stateCode:
      name: stateCode
      in: query
      schema:
        type: string
        pattern: ^[A-Z]{2}(,[A-Z]{2})*$
    q:
      name: q
      in: query
      schema:
        type: string
      description: Free-text search
    start:
      name: start
      in: query
      schema:
        type: integer
        default: 0
    parkCode:
      name: parkCode
      in: query
      schema:
        type: string
      description: Comma-separated four-letter park codes (e.g. yose,grca)
  schemas:
    ParkResponse:
      type: object
      properties:
        total:
          type: string
        limit:
          type: string
        start:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/Park'
    Park:
      type: object
      properties:
        id:
          type: string
        url:
          type: string
        fullName:
          type: string
        parkCode:
          type: string
        description:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        latLong:
          type: string
        states:
          type: string
        designation:
          type: string
        directionsInfo:
          type: string
        directionsUrl:
          type: string
        weatherInfo:
          type: string
        addresses:
          type: array
          items:
            type: object
        contacts:
          type: object
        operatingHours:
          type: array
          items:
            type: object
        entranceFees:
          type: array
          items:
            type: object
        activities:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
        topics:
          type: array
          items:
            type: object
        images:
          type: array
          items:
            type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
externalDocs:
  description: NPS API documentation
  url: https://www.nps.gov/subjects/developer/api-documentation.htm
