openapi: 3.1.0
info:
  title: National Park Service (NPS) Data Alerts Sites API
  description: The National Park Service Data API provides programmatic access to information about U.S. national parks - park overviews, alerts, events, visitor centers, campgrounds, things to do, news releases, articles, people, places, and more. The API is REST-based and returns JSON.
  version: '1'
  contact:
    name: NPS Developer Resources
    url: https://www.nps.gov/subjects/developer/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://developer.nps.gov/api/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Sites
  description: Water-monitoring sites
paths:
  /site/:
    get:
      tags:
      - Sites
      summary: Look up monitoring sites
      operationId: getSites
      parameters:
      - $ref: '#/components/parameters/format'
      - name: stateCd
        in: query
        schema:
          type: string
          pattern: ^[a-z]{2}$
      - name: huc
        in: query
        schema:
          type: string
      - name: bBox
        in: query
        schema:
          type: string
      - name: countyCd
        in: query
        schema:
          type: string
      - name: siteType
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Site response
components:
  parameters:
    format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - rdb
        - waterml
        - xml
        default: json
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
externalDocs:
  description: NPS API documentation
  url: https://www.nps.gov/subjects/developer/api-documentation.htm
