openapi: 3.2.0
info:
  title: USGS Water Services Daily Values API
  description: The U.S. Geological Survey Water Services API provides real-time and historical surface-water, groundwater, and water-quality data for sites across the United States. Endpoints follow the WaterML / IV (instantaneous values), DV (daily values), and Site Service patterns.
  version: '1'
  contact:
    name: USGS Water Mission Area
    url: https://water.usgs.gov/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
servers:
- url: https://waterservices.usgs.gov/nwis
  description: National Water Information System
tags:
- name: DailyValues
  description: Daily statistical values
paths:
  /dv/:
    get:
      tags:
      - DailyValues
      summary: Daily statistical values
      operationId: getDailyValues
      parameters:
      - $ref: '#/components/parameters/format'
      - name: sites
        in: query
        required: true
        schema:
          type: string
      - name: parameterCd
        in: query
        schema:
          type: string
      - name: startDT
        in: query
        schema:
          type: string
          format: date
      - name: endDT
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Daily values response
components:
  parameters:
    format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - rdb
        - waterml
        - xml
        default: json
externalDocs:
  description: USGS Water Services
  url: https://waterservices.usgs.gov/
