openapi: 3.1.0
info:
  title: USGS Earthquake Hazards Program API
  description: >-
    The U.S. Geological Survey's Earthquake Hazards Program publishes a public
    earthquake-catalog API returning GeoJSON FeatureCollections for queries by
    time, magnitude, location, depth, intensity, and event type.
  version: '1'
  contact:
    name: USGS
    url: https://earthquake.usgs.gov/contactus/
  license:
    name: Public Domain
    url: https://creativecommons.org/publicdomain/mark/1.0/
externalDocs:
  description: USGS Earthquake Catalog API
  url: https://earthquake.usgs.gov/fdsnws/event/1/
servers:
  - url: https://earthquake.usgs.gov/fdsnws/event/1
    description: Production
tags:
  - name: Events
    description: Earthquake event queries
  - name: Counts
    description: Event count queries
paths:
  /query:
    get:
      tags: [Events]
      summary: Query earthquake events
      operationId: queryEvents
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [geojson, csv, kml, quakeml, text, xml]
            default: geojson
        - name: starttime
          in: query
          schema:
            type: string
            format: date-time
        - name: endtime
          in: query
          schema:
            type: string
            format: date-time
        - name: minlatitude
          in: query
          schema:
            type: number
            minimum: -90
            maximum: 90
        - name: maxlatitude
          in: query
          schema:
            type: number
            minimum: -90
            maximum: 90
        - name: minlongitude
          in: query
          schema:
            type: number
            minimum: -360
            maximum: 360
        - name: maxlongitude
          in: query
          schema:
            type: number
            minimum: -360
            maximum: 360
        - name: minmagnitude
          in: query
          schema:
            type: number
        - name: maxmagnitude
          in: query
          schema:
            type: number
        - name: orderby
          in: query
          schema:
            type: string
            enum: [time, time-asc, magnitude, magnitude-asc]
        - name: limit
          in: query
          schema:
            type: integer
            maximum: 20000
      responses:
        '200':
          description: Earthquake FeatureCollection
          content:
            application/geo+json:
              schema:
                $ref: '#/components/schemas/EarthquakeFeatureCollection'
  /count:
    get:
      tags: [Counts]
      summary: Count events matching the query
      operationId: countEvents
      parameters:
        - name: starttime
          in: query
          schema:
            type: string
            format: date-time
        - name: endtime
          in: query
          schema:
            type: string
            format: date-time
        - name: minmagnitude
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  maxAllowed:
                    type: integer
components:
  schemas:
    EarthquakeFeatureCollection:
      type: object
      properties:
        type:
          type: string
          const: FeatureCollection
        metadata:
          type: object
          properties:
            generated:
              type: integer
            url:
              type: string
            title:
              type: string
            api:
              type: string
            count:
              type: integer
            status:
              type: integer
        features:
          type: array
          items:
            $ref: '#/components/schemas/EarthquakeFeature'
        bbox:
          type: array
          items:
            type: number
    EarthquakeFeature:
      type: object
      properties:
        type:
          type: string
          const: Feature
        id:
          type: string
        properties:
          type: object
          properties:
            mag:
              type: number
            place:
              type: string
            time:
              type: integer
            updated:
              type: integer
            tz:
              type: ["integer", "null"]
            url:
              type: string
            detail:
              type: string
            felt:
              type: ["integer", "null"]
            cdi:
              type: ["number", "null"]
            mmi:
              type: ["number", "null"]
            alert:
              type: ["string", "null"]
            status:
              type: string
            tsunami:
              type: integer
            sig:
              type: integer
            net:
              type: string
            code:
              type: string
            ids:
              type: string
            sources:
              type: string
            types:
              type: string
            nst:
              type: ["integer", "null"]
            dmin:
              type: ["number", "null"]
            rms:
              type: number
            gap:
              type: ["number", "null"]
            magType:
              type: string
            type:
              type: string
            title:
              type: string
        geometry:
          type: object
          properties:
            type:
              type: string
              const: Point
            coordinates:
              type: array
              items:
                type: number
              minItems: 3
              maxItems: 3
